.vertical_scroller {
    max-height: 300px;
    margin: 4rem auto;
    overflow: hidden;

    .vertical_scroller_inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-inline: 1rem;
        padding: 1rem;
        padding-block: 0; /**  vertical padding will cause lagging**/
    }

    &[data-animated="true"] {
        -webkit-mask: linear-gradient(180deg,
                transparent,
                white 20%,
                white 80%,
                transparent);
        mask: linear-gradient(180deg, transparent, white 20%, white 80%, transparent);
    }

    &[data-animated="true"] .vertical_scroller_inner {
        height: max-content;
        animation: vertical_scroller 20s forwards linear infinite;

    }


}

@keyframes vertical_scroller {
    to {
        transform: translateY(calc(-50% - 0.5rem));
        /* if vertical_scroller_inner has gap minus half of that gap
         from -50% like so 👇 to avoid lagging
         transform: translateY(calc(-50% - 0.5rem)); */
    }
}